{%- assign last_id = site.data.ll.previous.results.first.id -%}
{%- assign launch = site.data.ll.missions[last_id] -%}
{%- assign mission = launch.mission -%}
{%- assign pad = launch.pad -%}
{%- assign rocket = launch.rocket -%}
{%- assign stage = rocket.launcher_stage[0] -%}
{%- assign landing = stage.landing.location -%}
{%- assign launcher = stage.launcher -%}
<table class='last'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Elapsed</th>
      <th>Launch</th>
      <th>From</th>
      <th>To</th>
      <th>Land</th>
    </tr>
  </thead>
  <tbody>
    <tr class="{{ launch.status.abbrev }}">
      <td title="{{ launch.status.name }}: {{ launch.id }}">{{ total_launch_count }}</td>
      <td title="{{ mission.name }}&#13;{{ mission.description }}">{{ mission.name }}</td>
      <td>{% include widgets/datetime.html datetime=launch.net replace=true %}</td>
      <td><code title="{{ launch.net | date: "%a %d %b %T" }}">[{{ launch.net | date: "%a %d %b %T" }}]</code></td>
      <td title="{{ pad.location.name }}">{{ pad.name }}</td>
      <td title="{{ launcher.serial_number }}.{{ launcher.flights }}&#13;Last turn around: {{ stage.turn_around_time_days }} days&#13;Since {{ stage.previous_flight_date | date_to_long_string }}&#13;{{ stage.previous_flight.name }}"><code>[{{ launcher.flights }}]</code>{{ mission.orbit.abbrev }}</td>
      <td title="{{ landing.name }}"><code>[{{ landing.successful_landings }}]</code>{{ landing.abbrev }}</td>
    </tr>
  </tbody>
</table>