{%- assign previous_launches = previous_launches | push: site.data.ll.upcoming.results[0] -%}
{% for launch in previous_launches %}
{%- assign mission = launch.mission -%}
{%- assign pad = launch.pad -%}
{%- assign rocket = launch.rocket -%}
{%- assign stage = rocket.launcher_stage[0] -%}
{%- assign landing = stage.landing.location -%}
{%- assign launcher = stage.launcher -%}
{%- assign landing = stage.landing.location -%}
{%- assign last_launch = launcher.last_launch_date | date_to_string -%}
{%- assign first_launch = launcher.first_launch_date | date_to_string -%}
{%- assign configuration = rocket.configuration -%}
{%- assign year = launch.net | date: "%Y" | append: " "-%}
{%- assign net = launch.net | date_to_rfc822 | remove: year | remove: "," | truncate: 19, '' -%}
{%- assign zoom = missions[launch.id].size -%}
<tr class="previous {{ launch.status.abbrev }}" check-past-future="{{ launch.net }}">
  <td title="{{ launch.status.name }}&#13;{{ launch.id }}"><span class="{% if zoom == nil %}fg-secondary{% endif %}">{{ total_launch_count | minus: 9 | plus: forloop.index0 }}</span></td>
  <td title="{{ mission.name }}&#13;&#13;{{ mission.description }}">{{ mission.name }}</td>
  <td>{% include widgets/datetime.html datetime=launch.net replace=true %}</td>
  <td><code title="{{ launch.net | date: "%a %d %b %T" }}">[{{ net }}]</code></td>
  <td title="{{ pad.location.name }}">{% include ll/pad.html %}</td>
  <td>{% include ll/stages.html %}</td>
  <td>{% include ll/stages_landings.html %}</td>
</tr>
{% endfor %}