<table class='last'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Launch</th>
      <th>Datetime</th>
      <th>From</th>
      <th>To</th>
      <th>Flight</th>
    </tr>
  </thead>
  <tbody>
    {% include spx/precision.html launch=upcoming.first %}
    <tr apply-if-children="hidden|.future" {% if 'green,blue,red,orange,fucsia' contains precision_class %}hidden{% endif %}>
      <td>{{ upcoming.first.flight_number }}</td>
      <td title="{{ upcoming.first.name }}&#13;{% include spx/payloads.html payloads=upcoming.first.payloads %}">{{ upcoming.first.name }}</td>
      <td>{% include widgets/datetime.html datetime=upcoming.first.date_unix replace=true %}</td>
      <td><code title="{{ upcoming.first.date_local | date: "%a %d %b %T" }}">{{ upcoming.first.date_unix | date: "%a %d %b %T" }}</code></td>
      {%- assign launchpad = site.data.launchpads | where: "id", upcoming.first.launchpad | first -%}
      <td title="{{ launchpad.full_name }}&#13;{% include spx/thumbs.html successes=launchpad.launch_successes attempts=launchpad.launch_attempts %}">{{ launchpad.name }}</td>
      <td>{% include spx/landpad.html launch=upcoming.first %}</td>
      <td>{%- for core in upcoming.first.cores -%}{% if core.core %}{% include spx/core_past_flights.html core=core %}{%- unless forloop.last -%}&nbsp;{%- endunless -%}{% endif %}{%- endfor -%}</td>
    </tr>
    <tr>
      <td>{{ last_launch.flight_number }}</td>
      <td title="{{ last_launch.name }}&#13;{% include spx/payloads.html payloads=last_launch.payloads %}">{{ last_launch.name }}</td>
      <td>{% include widgets/datetime.html datetime=last_launch.date_unix replace=true %}</td>
      <td><code title="{{ last_launch.date_local | date: "%a %d %b %T" }}">{{ last_launch.date_unix | date: "%a %d %b %T" }}</code></td>
      {%- assign launchpad = site.data.launchpads | where: "id", last_launch.launchpad | first -%}
      <td title="{{ launchpad.full_name }}&#13;{% include spx/thumbs.html successes=launchpad.launch_successes attempts=launchpad.launch_attempts %}">{{ launchpad.name }}</td>
      <td>{% include spx/landpad.html launch=last_launch %}</td>
      <td>{%- for core in last_launch.cores -%}{% if core.core %}{% include spx/core_past_flights.html core=core %}{%- unless forloop.last -%}&nbsp;{%- endunless -%}{% endif %}{%- endfor -%}</td>
    </tr>
  </tbody>
</table>