{%- assign launch = include.launch -%}
{%- case launch.date_precision -%}
  {%- when 'hour' -%}
    {%- assign precision_class = '' -%}
    {%- assign title_date = launch.date_local | date: "%a %d %b %T" -%}
    {%- capture datetime -%}{% include widgets/datetime.html datetime=launch.date_unix title=title_date replace=true %}{%- endcapture -%}
  {%- when 'day' -%}
    {%- assign precision_class = 'green' -%}
    {%- assign datetime = launch.date_unix | date: '%B %e' -%}
  {%- when 'month' -%}
    {%- assign precision_class = 'blue' -%}
    {%- assign datetime = launch.date_unix | date: '%B' -%}
  {%- when 'quarter' -%}
    {%- assign precision_class = 'orange' -%}
    {%- assign month = launch.date_unix | date: '%m' | plus: 0 -%}
    {%- if month < 4  -%}{%- assign datetime = 'Q1' -%}
    {%- elsif month < 7 -%}{%- assign datetime = 'Q2' -%}
    {%- elsif month < 10 -%}{%- assign datetime = 'Q3' -%}
    {%- else -%}{%- assign datetime = 'Q4' -%}
    {%- endif -%}
  {%- when 'half' -%}
    {%- assign precision_class = 'red' -%}
    {%- assign month = launch.date_unix | date: '%m' | plus: 0 -%}
    {%- if month < 7  -%}{%- assign datetime = 'H1' -%}
    {%- else -%}{%- assign datetime = 'H2' -%}
    {%- endif -%}
  {%- else -%}
    {%- assign precision_class = '' -%}
    {%- assign datetime = launch.date_unix -%}
{%- endcase -%}