<table class='upcoming'>
  <thead>
    <tr style="text-align:left;">
      <th></th>
      <th>Name</th>
      <th>T - minus</th>
      <th>Datetime</th>
      <th>From</th>
      <th>To</th>
      <th>Flight</th>
    </tr>
  </thead>
  <tbody>
{%- for launch in upcoming -%}
{%- assign launchpad = site.data.launchpads | where: "id", launch.launchpad | first -%}
{% include spx/precision.html launch=launch %}
<tr class="{{ precision_class }}" apply-if-children="hidden|.past">
  <td>{{ launch.flight_number }}</td>
  <td title="{{ launch.name }}&#13;{% include spx/payloads.html payloads=launch.payloads %}">{{ launch.name }}</td>
  <td>{{ datetime }}</td>
  <td>{%- if precision_class == "" -%}<code title="{{ launch.date_local | date: "%a %d %b %T" }}">{{ launch.date_unix | date: "%a %d %b %T" }}</code>{%- endif -%}</td>
  <td title="{{ launchpad.full_name }}&#13;{% include spx/thumbs.html successes=launchpad.launch_successes attempts=launchpad.launch_attempts %}">{{ launchpad.name }}</td>
  <td>{% include spx/landpad.html launch=launch %}</td>
  <td>{%- for core in launch.cores -%}{% if core.core %}{% include spx/core_past_flights.html core=core %}{%- unless forloop.last -%}&nbsp;{%- endunless -%}{% endif %}{%- endfor -%}</td>
</tr>
{%- endfor -%}
  </tbody>
</table>