table
  margin-right: auto
  margin-left: auto
  width: 100%
  &.upcoming, &.last
    td:first-child
      color: var(--fg-secondary)
    thead
      text-align: left
    td, th
      &:nth-child(2)
        max-width: 9.75em
        min-width: 9.75em
        white-space: nowrap
        overflow: hidden
      &:nth-child(4)
        min-width: 12em
      &:nth-child(3),
      &:nth-child(5)
        min-width: 8em
      &:nth-child(6)
        max-width: 8em
        min-width: 8em
        overflow: hidden
        text-overflow: clip
      &:nth-child(7)
        min-width: 5em
        text-align: center
  &.upcoming
    tr[class*=color-] code
      color: var(--fg)
  &.last code
    color: var(--fg)

@media (max-width: $small-screen)
  th
    max-width: none !important

td[title]
  cursor: default