table
  @extend .rounded, .font-small
  margin-right: auto
  margin-left: auto
  width: 100%
  &.upcoming tr.past, &.previous tr.future
    @extend .hidden
  &.previous tr.past:last-of-type td
    border-bottom: none
  &.upcoming, &.previous
    @extend .border
  &.upcoming, &.previous, &.crew
    tr.Go td
      @extend .pink
    tr.TBD td
      @extend .bg-secondary
    tr.Success
      td
        @extend .green
    td, th
      text-align: left
      white-space: nowrap
      overflow: hidden
      &:first-child
        text-align: right
        min-width: 3em
        max-width: 3em
  // CREW TABLE
  &.crew

    tr.blue td
      @extend .border-top

    tr:not(.blue)
      td
        &:first-child
          color: var(--fg-secondary) !important

    td, th
      &:nth-child(2)
        min-width: 18em
        max-width: 18em
      &:nth-child(3)
        min-width: 8em
        max-width: 8em

  &.upcoming, &.previous
    td, th
      &:nth-child(2)
        min-width: 11em
        max-width: 11em
      &:nth-child(3)
        min-width: 7em
        max-width: 7em
        background: var(--bg-secondary) !important
      &:nth-child(4)
        min-width: 12em
        max-width: 12em
      &:nth-child(5)
        min-width: 13.2em
        max-width: 13.2em
      &:nth-child(6)
        min-width: 5em
        max-width: 5em
      &:nth-child(7)
        min-width: 7em
        max-width: 7em
  td code
    color: var(--fg-secondary)

@media (max-width: $small-screen)
  th
    max-width: none !important

td[title]
  cursor: default

div.tables
  @extend .flex
  justify-content: space-between
  table
    min-width: 12em
    margin-right: 1em
    &:first-of-type
      margin-top: 0