name: Fetch Save and Autocommit
on:
  schedule:
    # Run at 00:01 06:01 12:01 18:01 UTC every day
    - cron: '1 0/6 * * *'

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Fetch and save launches
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/launches'
          file: '_data/launches.json'
      - name: Fetch and save cores
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/cores'
          file: '_data/cores.json'
      - name: Fetch and save rockets
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/rockets'
          file: '_data/rockets.json'
      - name: Fetch and save payloads
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/payloads'
          file: '_data/payloads.json'
      - name: Fetch and save capsules
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/capsules'
          file: '_data/capsules.json'
      - name: Fetch and save dragons
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/dragons'
          file: '_data/dragons.json'
      - name: Fetch and save launchpads
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/launchpads'
          file: '_data/launchpads.json'
      - name: Fetch and save landpads
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/landpads'
          file: '_data/landpads.json'
      - name: Fetch and save crews
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://api.spacexdata.com/v4/crew'
          file: '_data/crew.json'
      - name: LL - Fetch and save upcoming 10 launches
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://ll.thespacedevs.com/2.2.0/launch/upcoming/?format=json&search=SpaceX&ordering=net'
          file: '_data/ll/upcoming.json'
      - name: LL - Fetch and save previous 10 launches
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://ll.thespacedevs.com/2.2.0/launch/previous/?format=json&search=SpaceX&ordering=-net'
          file: '_data/ll/previous.json'
      - name: LL - Fetch and save SpaceX Agency
        uses: gautemo/fetch-api-data-action@1.1.0
        with:
          url: 'https://ll.thespacedevs.com/2.2.0/agencies/?format=api&mode=detailed&search=SpaceX'
          file: '_data/ll/agency.json'
      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v4.8.0
